<div class="album" *ngIf="album">

 
  <div class="cover"
    [ngStyle]="{
      'background-image': 'url(' + album.image + ')',
      'background-size': 'cover',
      'background-position': 'center'
    }">

    <h2>{{ album.name }} ({{ album.year }})</h2>
    <div class="track-total">Tracks: {{ album.tracks.length }}</div>
  </div>


  @for (track of album.tracks; track $index) {
    <div class="track">
      <span>{{ $index + 1 }} - {{ track.name }}</span>
      <span>{{ track.duration }}</span>

      <label class="heart-toggle">
        <input 
          type="checkbox" 
          [checked]="track.loved"
          (change)="toggleTrack(track)"
        >
        <span class="heart"></span>
      </label>
    </div>
  }

</div>
